*{
    box-sizing: border-box;
    font-family: "raleway","sans-serif";
}
 /* Media queries */
@media screen and (min-width:769px)  {
    .searchbutton .fa-solid{
        display: none;
    }
}

@media(max-width:768px){ /* téléphones */
    .onglets{
        flex-basis: 100%;
    }
    .onglets a{
        text-align: center;
        flex-basis:50%;
        border-bottom: 3px solid lightgray;
    }
    .onglets a:hover{
        border-bottom-color: #0065fc;
        border-top-color: transparent;
    }
    .searchbar .searchtext{
        display:none;
    }
    .searchbutton .fa-solid{
        display:inline;
        background-color: #0065fc;
    }
    
}

@media screen and (max-width: 768px) /* téléphones */
{
    .row-sm{
        display: flex !important;
        flex-direction: column !important;
    }
    
    .smnomr{
        margin-right: 0px !important;
    }

    .block-sm-100{
        width: 100% !important;
        padding-top: 10px;
    }

    .smorder2{
        order: 1;
    }

    .card1 img{
        height: 180px !important;
    }
    .card2 img{
        height: 180px !important;
    }
    .card3 img{
        height: 180px !important;
    }
    .card4 img{
        height: 180px !important;
    }
    .card5 img{
        height: 180px !important;
    }
    .card6 img{
        height: 180px !important;
    }

    .height500{
        height: 300px !important;
    }
    .height300{
        height: 310px !important;
    }
    .height290{
        height: 300px !important;
    }
    .height250{
        height: 310px !important;
    }

    .height240{
        height: 300px !important;
    }
    .height200{
        height: 310px !important;
    }
    .height190{
        height: 300px !important;
    }

    .bg-cover{
        height: 210px !important;
    }
    .bg-cover2{
        height: 210px !important;
    }
    .bg-cover3{
        height: 210px !important;
    }
    .bg-cover4{
        height: 210px !important;
    }


    .row2{
        display: inherit; /*important! */
        flex-direction: column;
    }

    .ml-20{
        margin-left: inherit;
    }
    .mr-20{
       margin-right: inherit;
    }
    .popular{
        order: -1;
    }
    footer{
        flex-direction: column;
    }

}
@media screen and (max-width:992px){   /* tablettes */ 
   .row-md{
    flex-direction: column;
   }
   .col-md-100 {
    width: 100% !important;
   }
   /* les plus populaires */
   .marginmedium{
    margin-top: 30px;
    margin-right: 0px !important;
    margin-left: 0px !important;
   }
   .mdheight{
    height: 175px ;
   }

   /* activités */
   .blockmd{
    height: 1040px;
   }

   /* footer */
   footer{
    flex-direction: column;
   }

}

body{
    max-width: 1400px;
    margin: auto;
}

.row{
    display: flex;
}

/* box settings */

.bg-cover{
    width: 100%;
    height: 430px;
    object-fit: cover;
}
.bg-cover2{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.bg-cover3{
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.bg-cover4{
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.height190{
    height: 190px;
}
.height290{
    height: 290px;
}
.height80{
    height: 80%;
}
.height300{
    height: 300px;
}
.height200{
    height: 200px;
}
.height240{
    height: 240px;
}
.height250{
    height: 250px;
}
.height500{
    height: 500px;
}
.bloc-100{
    width: 100%;
}

.bloc-66{
    width: 66.66%;
}
.bloc-50{
    width: 50%;
}

.bloc-33{
    width: 33.33%;
}

.bloc-25{
    width: 25%;
}
.pb10{
    padding-bottom: 10px;
}
.pt10{
    padding-top: 10px;
}
.p-20{
    padding: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.ml-20{
    margin-left: 20px;
}
.mr-20{
   margin-right: 20px;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.b-radius-20{
    border-radius: 20px;
}
.b-radius-10{
    border-radius: 10px;
}
.b-radius-top20{
    border-radius: 20px 20px 0 0;
}
.b-grey{
    border: 1px solid lightgrey;
}
.bg-gray{
    background-color: #efefef;
}
.bg-white{
    background-color: #fff;
}

/* Star color*/
.blue{
    color: #0065fc;
}

.grey{
    color: #d9d9d9;
}

/* cards settings hébergements */
.card-body{
    padding-left: 10px;
    padding-right: 10px;
}

.card1{
    padding: 5px;
}
.card2{
    padding: 5px;
}
.card3{
    padding: 5px;
}
.card4{
    padding: 5px;
}
.card5{
    padding: 5px;
}
.card6{
    padding: 5px;
}


.card1 img{
    width: 100%;
    height: 112px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card2 img{
    width: 100%;
    height: 112px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card3 img{
    width: 100%;
    height: 112px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card4 img{
    width: 100%;
    height: 112px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card5 img{
    width: 100%;
    height: 112px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card6 img{
    width: 100%;
    height: 112px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* les plus populaire */
.card7{
    margin-block: 32px;
    height: 33.33%;
    display: flex;

}
.card8{
    margin-block: 32px;
    display: flex;
}
.card9{
    margin-block: 32px;
    display: flex;
}

.card7 img{
    width: 30%;
    min-height: 129px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.card8 img{
    width: 30%;
    min-height: 129px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.card9 img{
    width: 30%;
    min-height: 129px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.popular h3{
    display: flex;
    justify-content: space-between;
}



a{
    color:inherit;
    text-decoration: none;
}
/* navbar */
nav{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a{
    padding: 32px;
    border-top: 3px solid transparent;
}

nav a:hover{
    border-top-color: #0065fc;
}

#logo{
    margin-right: auto;
    padding:0 32px;
}

.onglets{
    display:flex;
}

.onglets a:hover {
    color:#0065fc
}

/* Corps du site */
.search{
    padding:0 32px
}

/* searchbar */
.searchbar{
    display:flex;
    align-items: center;
    font-size: 18px;
}
.searchbar > *{
    padding: 16px 24px;
}
.searchbar i{
    background-color: #f2f2f2;
    border-radius: 16px 0 0 16px;
}
.searchbar input{
    padding-right: 96px;
    border:1px solid #f2f2f2;
    overflow: auto;
}

.searchbar input::placeholder{
    font-weight: bold;
}

.searchbar button{
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    border: none;
    cursor:pointer;
    opacity: 0.9;
}

.searchbar button:hover{
    opacity: 1;
    transform: scale(1.02);
}

/* Filters */
.filter-list{
    display: flex;
    align-items: center;
    gap: 16px 32px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.filter-list h1{
    margin-bottom: 0;
}

.filter{
    border: 2px solid lightgray;
    border-radius: 24px;
    display: flex;
    align-items: center;
    transition: all 200ms;
}

.filter .fa-solid{
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    margin: -2px;
    width: 48px;
    height: 48px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.filter span{
font-weight: bold;
padding: 0 16px;
}

.filter:hover{
    background-color: lightblue;
    transform: scale(1.03);
}

/* Results-message */
.results-message{
    display: flex;
    align-items: center;
    gap: 16px;

}

.results-message .fa-solid{
    color: #0065fc;
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* activities */

.contener-3{
    height: 500px;
    margin-bottom: 20px;
}


.activities-section{
    display: flex;
    padding: 0;
}

.activities-list img{
    width: 120px;
}

.blockcard h3{
    margin-top: auto;
    background-color: #0065fc;
    border-radius: 0 0 10px 10px;
}

.pictureset{
    height: 400px;
    max-width: 120px;
}
.actblock{
    width: 100%;
    padding: 0;
    display: flex;
    height: 600px;
    gap: 2%;
}
.blockcard{
    width: 125px;
}
.blockcard2{
    width: 25%;
}


/* Footer */
footer{
    margin-top: 20px;
    background-color: #d9d9d9;
    width: 100%;
    display: flex;
    font-size: smaller;
    padding: 16px;
}

